@{
    // Sets the title of the page in the browser tab
    ViewData["Title"] = "Get to Know Joel";
}

<h1>Get to Know Joel</h1>

<!-- Unordered list containing links to external sites -->
<ul>
    <li>
        <!-- Link to Quick Wits Comedy website, opens in a new tab -->
        <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>
    </li>
    <li>
        <!-- Link to Baconsale Podcast website, opens in a new tab -->
        <a href="https://baconsale.com/" target="_blank">Baconsale Podcast</a>
    </li>
</ul>

<!-- Clickable image that links to the Baconsale website -->
<a href="https://baconsale.com/" target="_blank">
    <img src="~/images/BaconsaleKate.jpg" alt="Baconsale" width="300">
</a>